@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@500&family=Oswald&family=Outfit:wght@500&family=Roboto:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-around;
  background-color: #353136;
  height: 2rem;
  margin-right: 1rem;
  align-items: center;
}

.icons nav ul {
  display: flex;
  gap: 10px;
}

.icons nav li {
  list-style: none;
}

.icons nav ul li a {
  color: #fff;
}

.contact {
  display: flex;
  gap: 10px;
  color: #fff;
}

.background_mage {
  background-size: cover;
  background-image: linear-gradient(
      180deg,
      rgb(219, 218, 218) 0%,
      rgba(18, 6, 5, 0.40948879551820727) 0%
    ),
    url("images/interior1.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.logo_menu {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 2rem 3rem;
  color: #fff;
  padding-right: 13%;
}

.logo_menu nav ul {
  display: flex;
  gap: 10px;
  list-style: none;
}

.logo_menu nav ul li a {
  text-decoration: none;
  color: #fff;
}

.logo_menu span {
  font-family: "Roboto", cursive;
  font-size: 1.5rem;
  font-weight: 600;
}

.main_page .logo_menu .contact_color li a {
  color: orangered;
}

.overview {
  display: flex;
  flex-direction: column;
  color: #fff;
  padding-left: 17%;
}

.Amazing span {
  font-family: "Roboto", cursive;
  font-size: 2.5rem;
  font-weight: 200;
}

.overview_price {
  font-family: "Roboto", cursive;
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 1rem;
  margin-bottom: 4rem;
}

.forward {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.form_input input {
  width: 100%;
  border-radius: 3px;
  padding: 0.6rem 1.5rem;
  color: grey;
  font-size: 13px;
  border: 0.5px solid grey;
}

.form_input {
  position: relative;
  width: 35%;
  padding-right: 3rem;
}

.form_input i {
  position: absolute;
  top: 12px;
  padding-left: 6px;
  color: grey;
}

.forward button {
  background-color: transparent;
  border: 0.5px solid grey;
  border-radius: 3px;
  padding: 0.5rem 0.5rem;
  font-size: 12px;
}

.forward .search {
  background-color: orangered;
  color: #fff;
}

/* find your home section */
.exhibition {
  padding-left: 18%;
  margin-top: 3rem;
}

.exhibition_header span {
  font-size: 1.5rem;
  font-family: "Roboto", cursive;
  font-weight: 600;
}

/* .exhibition button {
  display: flex; 
  gap: 8px;
  margin-top: 2rem;
} */

.exhibition nav {
  display: flex;
  padding-left: 68%;
  gap: 8px;
  margin-top: 2rem;
} 

 .exhibition nav ul {
  border: 1px solid orangered;
  border-radius: 2px;
  color: orangered;
  font-weight: 400;
}

.first_exhibition div img {
  height: 160px;
  width: 180px;
}

.firstimage_about li {
  list-style: none;
}

.firstimage_about div {
  display: flex;
  gap: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.all_exhibitions {
  display: flex;
  margin-top: 1rem;
  gap: 2rem;
}

.first_exhibition {
  position: relative;
}

.positions p {
  position: absolute;
  color: #fff;
  top: 130px;
  left: 5px;
  font-weight: 400
}

.positions .sales {
  position: absolute;
  top: 15px;
  background-color: #535153;
  color: #fff;
  left:  110px;
  font-size: 12px;
}

.firstimage_about {
  font-size: 13px;
  margin-top: 0.5rem;
}

.firstimage_about p {
      text-align: center;
}

 /* meet team section starts here */
 .meet_team {
  padding-left: 18%;
  margin-top: 3rem;
}

 .team span {
  font-size: 1.5rem;
  font-family: "Roboto", cursive;
  font-weight: 600;
 }

 .team_one div img {
  height: 400px;
  width: 250px;
}